@import url([Poppins](https://fonts.google.com/specimen/Poppins));

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     
     place-items: center;
   background-image: url(./bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%) ;
    width: 100%;
    height: 90vh;
    background-size:cover ;
    background-attachment: fixed;
    font-family:"poppins",sans-serif;
}

    

.main-div{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    color: white;
    margin: auto;
    padding: 70px  200px ;
    /* flex-wrap: wrap; */
    
    /* width: 80%; */


    
}
h5{
background-color:hsl(248, 32%, 49%) ;
padding: 10px;
margin-bottom: 10px;
border-radius: 10px;
/* font-size: 15px; */
text-align: center;

}
form{
    background-color: white;
    padding:20px 50px;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}


h1,p{
    width: 60%;
    color: white;
    text-align: left;
    margin: 20px;

}
button{
    
   

 margin-top: 15px;
 padding: 10px  ;
border-radius: 10px;
 background-color:hsl(154, 59%, 51%) ;
color: hsl(246, 25%, 77%);
font-size: 16px;
font-weight: bold;
width: 100%;
border: 2px;

}
#main{
    background-color: hsl(248, 80%, 57%) ;
}
button{
     background-color: #04aa6d;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    
    
}

.last-p{
    color: hsl(246, 25%, 77%);
    align-items: center;
    width: 100%;
}
.last-p a{
    color: hsl(0, 100%, 74%) ;
}
/* @media (max-width: 700px){
    .main-div{
 flex-direction: column;
    }
} */
/* @media screen and (max-width:375px) {
   h1{
   text-align: center;

   } 
} */
@media (max-width: 700px) {
  .main-div {
    display: flex;
    flex-direction: column;
  }
}

/* @media (min-width: 1440px) {
    .main-div{
        flex-direction: column;
        display: flex;
    }

} */